<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends "index.html" %}

{% block content %}
<h2>{{ author.author_name }}</h2>

<h3>Napisał:
    {% for i in author.books %}
    <a href="/books/{{ i.id }}/details">{{ i.title }}</a>
    {% endfor %}
</h3>
<h3>Przemianuj:</h3>

<form method="post" action="/author/{{author.id}}/details">
    {% for i in form if i.widget.input_type != 'hidden' %}

    {{i.label}}
    {{ i }}

    {% endfor %}
    <input type="submit" value="wyślij">
</form>
<a href="/author/{{ author.id }}/delete">Usuń autora</a>
<a href="{{ url_for('homepage', current_list=1) }}">Home</a>
{% endblock %}
</body>
</html>

