<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% extends "index.html" %}

</head>
<body>
<a href="{{ url_for('homepage', current_list=1) }}">Books</a>
<a href="{{ url_for('homepage', current_list=2) }}">Authors</a>


{% block content %}


<h1>Bibioteka Książek</h1>
<div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link {% if selected_list == '1' %}active{% endif %}"
               href="{{ url_for('homepage', current_list=1) }}">Books</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if selected_list == '2' %}active{% endif %}"
               href="{{ url_for('homepage', current_list=2) }}">Authors</a>
        </li>

    </ul>
</div>


{% if selected_list == '1' %}
<h1>Książki</h1>
{% for i in books %}
<ul>
    <li><h2><a href="/books/{{ i.id }}/details">{{ i.title }}</a></h2></li>
</ul>
{% endfor %}
{% endif %}


{% if selected_list == '2' %}
<h1>Autorzy</h1>

{% for i in authors %}
<ul>
    <li><h2><a href="/author/{{ i.id }}/details">{{ i.author_name }}</a></h2></li>
</ul>
{% endfor %}
{% endif %}


<form method="post" action="/">
    {% for i in form %}

    {% if i.widget.input_type != 'hidden' %}{{i.label}}{% endif %}
    {{ i }}

    {% endfor %}
    <input type="submit" value="wyślij">
</form>


{% endblock %}

</body>
</html>